<form [formGroup]="formSubserie" (ngSubmit)="addSubserie()" class="forms-sample">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label> Serie: </label>
                            <ng-select [items]="seriesArray" bindLabel="name" bindValue="id" formControlName="idSerie"  placeholder="Seleccione una opción" class="form-control">
                            </ng-select> 
                        </div>
                        <div class="col-md-8">
                            <label> Subserie: </label>
                            <input type="text" formControlName="subserie" class="form-control" >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <input type="hidden" formControlName="id" class="form-control" >
                            <button type="submit" [disabled]="formSubserie.invalid" class="btn btn-primary btn-icon-text">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>