<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4> Carga de documentos</h4><br>

                <a routerLink="">
                    <button type="button" class="btn btn-primary btn-icon-text">
                    <i class="btn-icon-prepend" data-feather="plus-circle"></i>
                        Agregar documento
                    </button>
                </a>
                <br><br>

                <div class="row align-items-center mb-3">
                    <div class="col-xl-3 col-md-4">
                        <input type="text" class="form-control form-control-sm" placeholder="Buscar..." (input)="updateFilter($event)" />
                    </div>
                </div>
                <div class="table-responsive">
                    <div *ngIf="rows.length === 0 && !loading" class="text-center my-3">
                        <p><strong>No hay datos para mostrar</strong></p>
                    </div>

                    <ngx-datatable #table class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"  *ngIf="rows.length > 0"
                        [externalSorting]="true" 
                        [externalPaging]="true" [footerHeight]="50" [rowHeight]="'auto'" [limit]="pageSize" [count]="filteredCount"
                        [offset]="page" (page)="setPage($event)" [loadingIndicator]="loading" >                  
                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Medicamento">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.medicamento}}
                            </ng-template>
                        </ngx-datatable-column>

                         <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Sustancia Activa">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                               {{ row.sustancia}}
                            </ng-template>
                        </ngx-datatable-column>

                         <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Unidad">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                               {{ row.m_unidad.unidad}}
                            </ng-template>
                        </ngx-datatable-column>

                         <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Piezas/caja">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                               {{ row.piezas}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Stock">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                               <li *ngFor="let item of row.m_caducidad">
                                    Caducidad: {{item.caducidad}} <br>
                                    Stock: {{item.stock}} piezas
                               </li>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [headerClass]="'text-center'" [cellClass]="'text-center'" name="Acciones">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button type="button" class="btn btn-sm btn-outline-dark btn-icon" data-toggle="tooltip" data-placement="top" title="Editar"   routerLink="/medicamentos/edit/{{row.id}}" *ngIf="row.status == true">
                                    <i class="feather icon-edit"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-outline-dark btn-icon" data-toggle="tooltip" data-placement="top" title="Entrada" (click)="openSmModal(smModal, row.id)" *ngIf="row.status == true">
                                    <i class="feather icon-plus-circle"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-outline-dark btn-icon" data-toggle="tooltip" data-placement="top" title="Transferir medicamento" (click)="openSmModalTrans(smModalTrans, row.id)" *ngIf="row.status == true">
                                    <i class="feather icon-maximize-2"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-outline-dark btn-icon" data-toggle="tooltip" data-placement="top" title="Desactivar" (click)="actDesactiva(row.id)"  *ngIf="row.status == true">
                                    <i class="feather icon-trash"></i>
                                </button>

                                 <button type="button" class="btn btn-sm btn-outline-dark btn-icon" data-toggle="tooltip" data-placement="top" title="Activar" (click)="actDesactiva(row.id)" *ngIf="row.status == false">
                                    <i class="feather icon-check"></i>
                                </button> 

                                <!-- <button class="btn btn-primary" (click)="openSmModal(smModal)">Small modal</button> -->
                                
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>


                    <ng-template #smModal let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Entrada de medicamento </h5>
                            <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="formCaducidad" (ngSubmit)="addCaducidad()" class="forms-sample">
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label> Caducidad: </label>
                                                        <input type="date" formControlName="fCaducidad" class="form-control">
                                                        <input type="hidden" formControlName="idMedicamento" class="form-control">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label> Cajas que entran: </label>
                                                        <input type="number" formControlName="cajas" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cancelar</button>
                            <button type="submit" (click)="addCaducidad()" class="btn btn-primary btn-icon-text">Guardar</button>
                        </div>
                    </ng-template>

                    <ng-template #smModalTrans let-modalT>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Transferencia de medicamento </h5>
                            <button type="button" class="btn-close" (click)="modalT.close('by: close icon')" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="formTransferencia" (ngSubmit)="addTransferencia()" class="forms-sample">
                                <div class="row">
                                    <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <h5>Medicamento a transferir: {{ nombreMed }}</h5>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label> Consultorio: </label>
                                                        <ng-select [items]="consultoriosArray" bindLabel="name" bindValue="id" formControlName="consultorio" placeholder="Seleccione una opción"  class="form-control">
                                                        </ng-select>
                                                        <input type="hidden" formControlName="idMedicamentoTrans" class="form-control">
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label> Medicamento a transferir: </label>
                                                        <ng-select [items]="caducidadesArray" bindLabel="name" bindValue="id" formControlName="caducidad_transfiere_id" placeholder="Seleccione una opción"  class="form-control">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-md-6">
                                                        <label> Cajas que tranfieren: </label>
                                                        <input type="number" formControlName="cantidad_transferencia" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modalT.close('by: close button')">Cancelar</button>
                            <button type="submit" (click)="addTransferencia()" class="btn btn-primary btn-icon-text">Guardar</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
